<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "./mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <!-- 全局别名设置 -->
    <!--<typeAliases>-->
        <!--<typeAlias type="" alias=""/>-->
    <!--</typeAliases>-->

    <!--<plugins>-->
        <!--<plugin interceptor="com.jd.survey.dao.MybatisSqlInterceptor">-->
        <!--</plugin>-->
    <!--</plugins>-->
    <!-- 映射文件路径 -->
    <mappers>
        <mapper resource="mapper/survey.xml"/>
    </mappers>


</configuration>